/* tu color
:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
} */
:root {
  --surface-ground: #fcfcfc; /* tu color */
  --code-background: #1e1e1e;
  --code-color: #c5c5c5;
}
