.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 450px;
}

.title {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}





.error-message {
  color: #d32f2f;
  font-size: 12px;
  margin-top: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.login-button {
  background-color:var(--background-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--hover-color);
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

.register-link {
  text-align: center;
  margin-top: 20px;
  color: #666;

  a {
    color: var(--hover-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

